*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100;
    background-color: antiquewhite;
}

#btn{
    /* display: flex; */
    height: 70px;
    width: 180px;
    font-size: 20px;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 50px;
    background-color: aqua;
}

#main{
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}

#jokedisplay{
    display: block;
    height: 200px;
    width: 600px;
    /* border: 2px solid black; */
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 110px);
    /* background-color: brown; */
    text-align: center;
    font-size: x-large;
}

#meme{
    margin-top: 20px;
}
#meme2{
    margin-top: 20px;
}